body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flex_box_center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.form-control:focus {
  box-shadow: 0 0 0 0.05rem rgb(13 110 253 / 25%);
}

.table_font_size {
  font-size: 13px;
}

.font-13 {
  font-size: 13px;
}

.font-movie-title {
  font-size: 1.4rem;
}

.sort-button {
  background-color: #f5f5f5;
  color: #333;
  border-color: #cfcfcf;
  font-size: 13px;
  font-weight: 500;
}

.sort-button:hover {
  background-color: #e5e5e5;
  color: #333;
  border-color: #cfcfcf;
  font-size: 13px;
  font-weight: 500;
}

.sort-button:active,
.sort-button:focus,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: #e5e5e5;
  color: #333;
  border-color: #cfcfcf;
  font-size: 13px;
  font-weight: 500;
}

.border-bootom-1 {
  border-bottom: 1px solid #ccc;
}

.sort-button-list li {
  font-size: 12px;
  font-weight: 500;
}

.sort-button-list .dropdown-item.active,
.sort-button-list .dropdown-item:active {
  background-color: #999;
}

.back_Button{
  padding-top: 7.8px;
  padding-bottom: 7.8px;
}

.displaymovie .active {
  background-color: #eee;
}

@media (max-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}


.d-block_imp {
  display: block!important;
}
